apiVersion: batch/v1
kind: CronJob
metadata:
  name: booking-holds-ttl
spec:
  schedule: "* * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: booking-holds-ttl
              image: hulkdx/ff-pro-ttl:v1
              envFrom:
                - secretRef:
                    name: secrets-env
