# TODO: deploy to k8s
name: deploy-to-kubernetes

on:
  push:
    branches: [ "main" ]

env:
  API_DOCKER_IMAGE_NAME: ${{ secrets.DOCKER_USER }}/ff-pro:v1

jobs:
  deploy:
    name: docker build and deploy
    runs-on: ubuntu-latest
    environment: prod

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: docker build api
      env:
        DOCKER_IMAGE_NAME: ${{ env.API_DOCKER_IMAGE_NAME }}
        APP_CMD_PATH: ./cmd/api
      run: make docker-build

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_API_KEY }}

    - name: docker push
      run: |
        docker push ${API_DOCKER_IMAGE_NAME} &> /dev/null

    - name: install digital ocean cli
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DO_TOKEN }}

    - name: kubeconfig (DOKS)
      run: |
        doctl kubernetes cluster kubeconfig save ${{ secrets.DO_CLUSTER_NAME }} --expiry-seconds 600

    - name: prod deploy
      run: |
        base64 --decode <<< ${{ secrets.RSA_PUBLIC_KEY }} > deploy/prod/rsa.public.key

        echo postgres_username=${{ secrets.postgres_username }} >> ./deploy/prod/.env
        echo postgres_password=${{ secrets.postgres_password }} >> ./deploy/prod/.env
        echo postgres_url=${{ secrets.postgres_url }} >> ./deploy/prod/.env
        
        kubectl apply -k deploy/prod

    - name: cleanup
      if: always()
      run: |
        rm -rf ~/.docker \
               ~/.kube   \
               ~/.aws    \
               ./deploy/prod/rsa.private.key \
               ./deploy/prod/rsa.public.key \
               ./deploy/prod/.env
